<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib.marketplace">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <permission
        android:name="com.ipos.iposmanage.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-feature
        android:required="false"
        android:name="android.hardware.telephony" />

    <uses-permission android:name="com.ipos.iposmanage.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.ipos.iposmanage.app"
        android:protectionLevel="dangerous" />

    <application
        android:label="@string/app_name"
        android:name=".app.ApplicationIpos"
        android:allowBackup="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.marketplace.FeedbackActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.ArticleDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.ArticleCreateActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.order_online.PurchaseDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.MarketHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.NvlHistoryDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.NvlDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.MarketPlaceActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.SelectStartAddressActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.order_online.AddAddressOrderOnlineActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.SelectAddressOrderNvlActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.MyArticlesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.CateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.order_online.MapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".activity.marketplace.AddAddressOrderNvlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="layoutDirection|locale"/>

        <receiver
            android:name="vn.zalopay.sdk.MerchantReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="vn.zalopay.sdk.ZP_ACTION" />
                <category android:name="zlp" />
            </intent-filter>
        </receiver>
    </application>

</manifest>